.red {
    color: red;
}
.bold{
    font-weight: 700;
}
.blue {
    color: blue;
}
.green {
    color: yellow;
}
.upperCase {
    text-transform: uppercase;
}
.img-margin {
    width: 500px;
    margin-left: 200px;
}